model_config_list {
  config {
    name: 'neuralcf'
    base_path: '/models/neuralcf/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'widendeep'
    base_path: '/models/widendeep/'
    model_platform: 'tensorflow'
  }
  config {
      name: 'embeddingmlp'
      base_path: '/models/embeddingmlp/'
      model_platform: 'tensorflow'
    }
}